.input-container{
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.input-container .input{
    margin-right: 9px;
}

.add-btn{
    color: rgb(255, 255, 255);
    background-color: rgba(166, 159, 230, 0.395);
    padding: 2px 6px;
    border-radius: 5px;
}

.add-btn:hover{
    background-color:  rgb(255, 255, 255);
    color: rgb(63, 63, 63);
}